<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

	<div th:fragment="contenido">
		<div class="modal fade" tabindex="-1" role="dialog" id="modal-tarjetaregister">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h1 class="modal-title">Register Trajeta</h1>
					</div>
					<div class="modal-body">
						<form method="post" th:object="${tarjeta}" th:action="@{/tarjeta/register}" class="form-horizontal">
				
							<div id="fg-nombreTitular" class="form-group">
								<label for="nombreTitular" class="col-sm-2 control-label">Nombre Titular</label>
								<div class="col-sm-10">
									<input th:field="*{nombreTitular}" type="text" class="form-control" placeholder="Nombre Titular"/>
									<span class="help-block"></span>
								</div>
							</div>
							
							<div id="fg-numeroTarjeta" class="form-group">
								<label for="numeroTarjeta" class="col-sm-2 control-label">Numero Tarjeta</label>
								<div class="col-sm-10">
									<input th:field="*{numeroTarjeta}" type="text" class="form-control" placeholder="Numero Tarjeta" />
									<span class="help-block"></span>
								</div>
							</div>
							
							<div id="fg-fechaCaducidad" class="form-group">
								<label for="fechaCaducidad" class="col-sm-2 control-label">Fecha Caducidad</label>
								<div class="col-sm-10">
									<input th:field="*{fechaCaducidad}" type="text" class="form-control" placeholder="Fecha Caducidad" />
									<span class="help-block"></span>
								</div>
							</div>
				
						
					<div class="alert alert-success" style="display:none">
					  <strong>Successfully Submitted!</strong> 
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary enviar-form">Register</button>
					</div>
					</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
	</div>
	
	
</body>
</html>