<html
        xmlns:th="http://www.thymeleaf.org"
>
    <aside class="main-sidebar" th:fragment="sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/dashboard')}? active"><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> <span th:text="#{menu.dashboard}"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/data')}? active"><a th:href="@{/data}"><i class="fa fa-sticky-note"></i> <span th:text="#{menu.my.data}"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/car')}? active"><a th:href="@{/car}"><i class="fa fa-car"></i> <span th:text="#{menu.my.cars}"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/card')}? active"><a th:href="@{/card}"><i class="fa fa-credit-card"></i> <span th:text="#{menu.my.payments}"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/stay')}? active"><a th:href="@{/stay}"><i class="fa fa-building"></i> <span th:text="#{menu.my.stays}"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/province')}? active"><a th:href="@{/province}"><i class="fa fa-globe"></i> <span th:text="#{menu.my.provinces   }"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/parking')}? active"><a th:href="@{/parking}"><i class="fa fa-building"></i> <span th:text="#{menu.parking}"/></a></li>
                <li th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/user')}? active"><a th:href="@{/user}"><i class="fa fa-users"></i> <span th:text="#{menu.user}"/></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</html>