<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
	<meta charset="utf-8"/>
</head>
<body>

	<div th:fragment="contenido">

		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-alta">
			Registro
		</button>
		
		 
<div sec:authorize="hasRole('ROLE_ADMIN')">
Este contenido solo se muestra a usuarios Admin
</div>

<div sec:authorize="hasRole('ROLE_USER')">
Este contenido solo se muestra a usuarios Conductor
</div>

<div sec:authorize="hasRole('ROLE_PARKING')">
Este contenido solo se muestra a usuarios
</div>


		<table>
			<tr>
				<th>Id</th>
				<th>Nombre Parking</th>
				<th>Direccion</th>
				<th>Email</th>
			</tr>
			<tr th:each="parking : ${parkings}">
				<td th:text="${parking.id}">Id</td>
				<td th:text="${parking.nombre}">Nombre</td>
				<td th:text="${parking.direccion}">Direccion</td>
				<td th:text="${parking.telefono}">Telefono</td>
				<td th:text="${parking.email}">Email</td>
			</tr>
		</table>
		
		<table>
			<tr>
				<th>Id</th>
				<th>Email Conductor</th>
				<th>Password</th>
				<th>Rol</th>
				<th>MailVerificado</th>
				<th>EmailCode</th>				
			</tr>
			<tr th:each="user : ${usuarios}">
				<td th:text="${user.id}">Id</td>
				<td th:text="${user.email}">Email</td>
				<td th:text="${user.password}">Password</td>
				<td th:text="${user.rol}">Rol</td>
				<td th:text="${user.emailVerificado}">MailVerificado</td>
			<!--  	<td>
					<span th:if="${user.emailVerificado}">Si</span>
					<span th:if="${!user.emailVerificado}">No</span>
				</td> -->
				<td th:text="${user.emailCode}">EmailCode</td>
				  
				
			</tr>
			<tr th:each="conductor : ${conductores}">
				<td th:text="${user.id}">Id</td>
				<td th:text="${user.email}">Email</td>

				
			</tr>			
		</table>		
	Mensaje:
	<div th:text="#{typeMismatch}"></div>

	</div>
	
	
	
</body>
</html>