<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Parkings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/js/jquery-1.12.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/parky-angular.js}"></script>
	<script type="text/javascript" th:src="@{/js/ajax-form.js}"></script>

</head>
<body ng-app="parky">

	<div th:replace="menu :: contenido"></div>

	<div class="container-fluid">

		<h1>Parkings</h1>
		
		<div th:if="${param.mensaje != null}" th:text="${param.mensaje[0]}" class="alert alert-success" role="alert">
		</div>
		
		<div th:replace="${vista} :: contenido">
		</div>
		
		<div>
			Copyright 2016
		</div>
		
	</div>
	
</body>
</html>