<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

	<div th:fragment="contenido">
		<div class="modal fade" tabindex="-1" role="dialog" id="modal-carregister">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h1 class="modal-title">Register</h1>
					</div>
					<div class="modal-body" ng-controller="carController">
						<form  method="post" th:object="${car}" th:action="@{/car/register}" class="form-horizontal" id="car_reg_form">
				
							<div id="fg-matricula" class="form-group">
								<label for="matricula" class="col-sm-2 control-label">Matricula</label>
								<div class="col-sm-10">
									<input th:field="*{matricula}" type="text" class="form-control" placeholder="Matricula"/>
									<span class="help-block"></span>
								</div>
							</div>

							<div id="fg-nombreCoche" class="form-group">
								<label for="nombreCoche" class="col-sm-2 control-label">Nombre Coche</label>
								<div class="col-sm-10">
									<input th:field="*{nombreCoche}" type="text" class="form-control" placeholder="Matricula"/>
									<span class="help-block"></span>
								</div>
							</div>
							
							<div id="fg-fotoPermiso" class="form-group">
								<label for="fotoPermiso" class="col-sm-2 control-label">Foto Permiso</label>
								<div class="col-sm-10">
									<label class="btn btn-default btn-file">
									   <input type="file" id="file1" name="file" multiple='false'
									            ng-files="getTheFiles($files)" />
									</label>
							        <input type="button" ng-click="uploadFiles()" value="Upload" />
									<input th:field="*{fotoPermiso}" type="hidden" class="form-control" ng-value="fotoPermiso"/>
									<span class="help-block"></span>
								</div>
							</div>
							
 						
					<div class="alert alert-success" style="display:none">
					  <strong>Successfully Submitted!</strong> 
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary enviar-form">Register</button>
					</div>
					</form>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
	</div>
	
	
</body>
</html>