<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div th:fragment="contenido">
    <div class="alert alert-success alert-dismissable" th:if="${successMsg != null}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-check pr10"></i>
        <strong>
            Success
        </strong>.&nbsp;
        <th:block th:text="${successMsg}"/>
    </div>

    <div class="alert alert-danger alert-dismissable" th:if="${errorMsg != null}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-remove pr10"></i>
        <strong>
            Error
        </strong>.&nbsp;
        <th:block th:text="${errorMsg}"/>
    </div>
</div>
</body>
</html>